<div id="auto_judge">
    <h6 class="card-title text-secondary mt-4 unselectable" unselectable="on">Auto Judge <button id="auto_judge_button" class="ml-2 btn btn-sm btn-outline-secondary" type="button">✨</button></h6>
    <div class="card mt-3">
        <div class="card-body p-3">
            <div class="mb-2">
                <!-- loader -->
                <div class="autoJudgeSpinner">
                    <div class="la-ball-circus text-secondary">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
                <!-- end loader -->
                <div id="autoJudgeMessage" class="text-secondary small">
                </div>
            </div>
        </div>
    </div>
</div>